body {
    background-color: rgb(106, 219, 166);
    font-family: sans-serif;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */ /*why are theese needed? seems to work even if they are comentet out? is it because of the reset.css*/
    /* top: 0; */
    /* left: 0; */
    background-color: #1937be80;
    overflow: hidden; /*why does it hav to be overflow-x?*/
    transition: 0.5s;
    padding-top: 40px;
}

.nav__menu { /*why should this be a dubble class with nav?*/
    color: #fff;
    text-decoration: none;
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    /* transition: 0.3s; */
}

.nav__menu:hover {
    background-color: rgb(55, 160, 111);
}

#main {
    transition: margin-left .5s;
    /* padding-left: 20px; */
}

.main__headline {
    font-size: 45px;
    margin-top: 4vw;
}

.main__paragraph {
    font-size: 20px;
    margin-top: 2vw;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    color: rgb(55, 160, 111);
}

.openbtn:hover {
    background-color: rgb(55, 160, 111);
    color: #fff;
}

.closebtn { 
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 0;
    right: 1px;
    font-size: 36px;
    /* margin-left: 50px; */
    padding: 3px 17px 3px 17px;
}

.closebtn:hover {
    background-color: rgb(55, 160, 111);
    color: #fff;
}